<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Zabi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Zabi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<!-- 🔒 CAMERA PERMISSION -->
	<!-- <key>NSCameraUsageDescription</key>
	<string>Scan your card to add it automatically</string> -->

	<!-- 📍 LOCATION PERMISSIONS -->
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to provide continuous location-based services like mosque search and prayer times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location allows you to find a nearby mosque at your current address.</string>

	<!-- 🎙️ MICROPHONE PERMISSION -->
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for audio playback.</string>

	<!-- 🖼️ PHOTO LIBRARY PERMISSIONS -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to upload, share, or save wallpapers.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save images to your photo library</string>

	<!-- 🛠️ SYSTEM SETTINGS -->
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- 🔊 BACKGROUND MODES -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>audio</string>
	</array>

	<!-- 🚀 LAUNCH SETTINGS -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<!-- 🔄 SUPPORTED ORIENTATIONS -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
